# Configurações do Servidor Backend Flask
PORT=5000
FLASK_ENV=development

# Chaves de Segurança (Altere em Produção)
SECRET_KEY=recomenda-conteudo-secret-key-super-segura
JWT_SECRET_KEY=recomenda-conteudo-jwt-secret-key-top-secret

# Banco de Dados
DATABASE_URL=sqlite:///recomenda.db

# Configuração de CORS (Permitir requisições do Frontend)
CORS_ORIGINS=http://localhost:3002
